html {
  font-size: 10px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
  font-family:  'Ysabeau Infant', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
}

h1,
h2,
h3 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1px;
}
html {
  background-color: #77b17f;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #ebd9c3;
  padding: 0 30px 40px 50px;
  border: 5px solid rgb(153, 13, 48);
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 10px 5px 3px rgb(206, 33, 33);
}
img {
  display: block;
  margin: 0 auto;
}

